<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.shadowapplication">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 高的地图权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Required -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark">
        <meta-data
            android:name="DEBUG_MODE"
            android:value="true" />
        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0tdhK3LAOrmGD9QuxV7VmqbpnGotlkLe" />

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="5f73cf92fa3f6da1a8e5c8fc0c925157" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".activity.MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".activity.MaterialDesignActivity" />
        <activity android:name=".activity.TestRecycleViewActivity" />
        <activity android:name=".activity.WindowServiceActivity" />
        <activity android:name=".service_demo.MessengerServiceActivity" />
        <activity android:name=".sport.activity.SportActivity" />
        <activity android:name=".sport.activity.CountDownActivity" />
        <activity android:name=".sport.activity.TestCompatActivity" />
        <activity android:name=".activity.CustomViewActivity" />
        <activity android:name=".activity.ViewpagerGrallerActivity" />
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="true" />
        <activity android:name=".activity.TestContentProvideActivity" />
        <activity
            android:name=".activity.TestWebActivity"
            android:launchMode="singleTask" />
        <activity android:name=".thread_test.AsyncTaskActivity" />
        <activity android:name=".setting.TestPreferenceActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity
            android:name=".glide.GiphyActivity"
            android:exported="true" />
        <activity android:name=".dagger.FlowerActivity" />
        <activity android:name=".databing.UserActivity" />
        <activity android:name=".map.MapActivity" />
        <activity
            android:name=".material_design.MaterialActivity"
            android:label="shadow"
            android:theme="@style/custom_status" />
        <activity
            android:name=".activity.TextViewActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".http.HttpUrlConnectionActivity"
            android:exported="true" />
        <activity android:name=".http.OkHttpActivity" />
        <activity
            android:name=".activity.NewCustomViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CustomViewGroupActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CustomColorMatrixActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CustomWatchActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CustomTwoCacheActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CustomShaderTextViewActivity"
            android:exported="true" />

        <service
            android:name=".ipc.IPCService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity
            android:name=".ipc.IPCServiceActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MemoryActivity"
            android:configChanges="orientation|keyboard"
            android:exported="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".eventbus.EventBusTestActivity"
            android:exported="true" />
        <activity
            android:name=".broadcast_receive.BroadcastReceiveActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.shadow.hidden" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aidl.AidlBindServiceActivity"
            android:exported="true" />

        <service
            android:name=".aidl.BookManagerService"
            android:process=":book" />

        <activity android:name=".anim.ViewAnimationActivity" />
        <activity
            android:name=".anim.ValueAnimatorActivity"
            android:exported="true" />
        <activity
            android:name=".db.SqliteTestActivity"
            android:exported="true" />
        <activity
            android:name=".http.RetrofitActivity"
            android:exported="true" />
        <activity
            android:name=".material_design.FooterBehaviorActivity"
            android:exported="true" />
        <activity
            android:name=".material_design.MaterialMainActivity"
            android:exported="true" />
        <activity
            android:name=".map.AndroidLocationActivity"
            android:exported="true" />
        <activity
            android:name=".kotlin.KotlinActivity"
            android:exported="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.shadow.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".media.MediaActivity"
            android:exported="true" />
        <activity android:name=".media.MusicActivity" />
        <activity android:name=".media.VideoActivity" />
        <activity
            android:name=".date.DateActivity"
            android:exported="true" />
        <activity
            android:name=".date.CalendarActivity"
            android:exported="true" />
        <!-- //测试日历 -->
        <activity
            android:name=".date.DateMainActivity"
            android:label="@string/app_name">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".date.OldCalendarViewActivity"
            android:label="HHH"
            android:parentActivityName=".date.DateMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".date.DateMainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.prolificinteractive.materialcalendarview.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".date.BasicActivity"
            android:label="HH"
            android:parentActivityName=".date.DateMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".date.DateMainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.prolificinteractive.materialcalendarview.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".date.BasicActivityDecorated"
            android:label="GG"
            android:parentActivityName=".date.DateMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".date.DateMainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.prolificinteractive.materialcalendarview.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".date.SwappableBasicActivityDecorated"
            android:label="DD"
            android:parentActivityName=".date.DateMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".date.DateMainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.prolificinteractive.materialcalendarview.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".date.DisableDaysActivity"
            android:label="WW"
            android:parentActivityName=".date.DateMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".date.DateMainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.prolificinteractive.materialcalendarview.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".date.CustomizeXmlActivity"
            android:label="HH"
            android:parentActivityName=".date.DateMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".date.DateMainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.prolificinteractive.materialcalendarview.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".date.CustomizeCodeActivity"
            android:label="QQ"
            android:parentActivityName=".date.DateMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".date.DateMainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.prolificinteractive.materialcalendarview.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".date.DynamicSettersActivity"
            android:label="YY"
            android:parentActivityName=".date.DateMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".date.DateMainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.prolificinteractive.materialcalendarview.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".date.CustomTileDimensions"
            android:label="NN"
            android:parentActivityName=".date.DateMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".date.DateMainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.prolificinteractive.materialcalendarview.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".date.DialogsActivity"
            android:label="RR"
            android:parentActivityName=".date.DateMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".date.DateMainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.prolificinteractive.materialcalendarview.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".date.MultipleViewActivity"
            android:label="UU"
            android:parentActivityName=".date.DateMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".date.DateMainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.prolificinteractive.materialcalendarview.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".date.MultipleSizeActivity"
            android:label="XX"
            android:parentActivityName=".date.DateMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".date.DateMainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.prolificinteractive.materialcalendarview.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Gallery.GalleryActivity"
            android:exported="true" />
        <activity
            android:name=".Gallery.EcoGalleryActivity"
            android:exported="true" />
        <activity
            android:name=".Gallery.WGalleryActivity"
            android:exported="true"
            android:label="WGallery Samples" />
        <activity
            android:name=".Gallery.BaseWGalleryActivity"
            android:label="Simple WGallery" />
        <activity
            android:name=".Gallery.SimpleWGalleryActivity"
            android:label="Simple WGallery" />
        <activity
            android:name=".Gallery.WithWGalleryAdapterActivity"
            android:label="With WGallery Adapter" />
        <activity android:name=".layout.PercentLayoutActivity" />
        <activity
            android:name=".album.AlbumActivity"
            android:exported="true" />
        <activity
            android:name=".scrollview.TestScrollviewActivity"
            android:exported="true" />
        <activity android:name=".MainTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".multitype.MultitypeActivity"
            android:exported="true" />
        <activity
            android:name=".popup_windows.PopupWindowActivity"
            android:exported="true" />
        <activity
            android:name=".album.ShowBigPicActivity"
            android:exported="true" />
        <activity
            android:name=".map.AMapActivity"
            android:exported="true" />
        <activity android:name=".timer.BaseTimeActivity" />
        <activity
            android:name=".timer.CustomTimer1Activity"
            android:exported="true" />
        <activity android:name=".timer.CustomTimer2Activity" />
        <activity android:name=".recycle.RecycleStaggeredActivity" />
        <activity android:name=".Gallery.ViewPagerChangeDataActivity" />
        <activity android:name=".Gallery.GoodsDetailActivity" />
        <activity android:name=".Gallery.TestViewPagerChangeDataActivity" />
        <activity
            android:name=".android_http.DownWebPageActivity"
            android:exported="true" />
        <activity
            android:name=".android_http.DownImageActivity"
            android:exported="true" />
        <activity android:name=".hot_fix.HotRestoreActivity" />
        <activity android:name=".hot_fix.TestClassLoaderActivity" />
        <activity android:name=".hot_fix.andfix.AndFixActivity" />
        <activity android:name=".service_demo.activity.ServiceActivity" />

        <service android:name=".service_demo.service.BinderServiceClass" />
        <service android:name=".service_demo.service.StartServiceClass" />
        <service android:name=".service_demo.service.IntentServiceClass" />

        <activity android:name=".notification.NewNotificationActivity" />
        <activity android:name=".progress.ProgressActivity"></activity>

        <receiver
            android:name=".progress.WakeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.wake.gray" />
            </intent-filter>
        </receiver>

        <service
            android:name=".progress.WhiteService"
            android:enabled="true"
            android:exported="false"
            android:process=":white" />
        <service
            android:name=".progress.GrayService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
        <service
            android:name=".progress.GrayService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
        <service
            android:name=".progress.BackgroundService"
            android:enabled="true"
            android:exported="false"
            android:process=":bg" />

        <service
            android:name=".progress.WakeNotifyService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".progress.WakeGrayInnerService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>